{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Prueba de About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste esse distinctio quasi obcaecati enim dolorem,
            minima illo, quisquam, molestias aperiam asperiores natus exercitationem. Eaque nemo velit officia sint
            veniam quasi!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/brown-rocky-mountain-under-white-cloudy-sky-3532326.jpg" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}